<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- HEAD -->
<div th:replace="fragmentos/head :: head"></div>

<body class="d-flex flex-column min-vh-100 bg-light">

<!-- NAV -->
<div th:replace="fragmentos/navbar-empresa :: nav"></div>

<!-- MAIN -->
<main class="container my-4 flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h3>Empresa - Dashboard</h3>
        <p class="text-muted">Desde aquí podéis administrar tus puestos y buscar candidatos.</p>
        <div class="d-flex gap-2 justify-content-center">
            <a th:href="@{/empresa/puestos}" class="btn btn-dark">Ver mis puestos</a>
            <a th:href="@{/empresa/puestos/publicar}" class="btn btn-dark">Publicar nuevo puesto</a>
        </div>
    </div>
</main>

<!-- FOOTER -->
<div th:replace="fragmentos/footer :: footer"></div>

</body>
</html>

