<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- HEAD -->
<div th:replace="fragmentos/head :: head"></div>
<body class="d-flex flex-column min-vh-100 bg-light">

<!-- NAV -->
<div th:replace="fragmentos/navbar-administrador :: nav"></div>

<!-- MAIN -->
<main class="container my-4 flex-grow-1">
    <h3 class="mb-4">Oferentes pendientes</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oferente : ${oferentes}">
            <td class="align-middle"
                th:text="${oferente.nombre + ' ' + oferente.primerApellido}"></td>
            <td class="align-middle"
                th:text="${oferente.correo}"></td>
            <td>
                <form th:action="@{/admin/oferentes/autorizar/{id}(id=${oferente.identificacion})}"
                      method="post">
                    <button type="submit" class="btn btn-success btn-sm">Aprobar</button>
                </form>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(oferentes)}">
            <td colspan="3" class="text-muted text-center">No hay oferentes pendientes de aprobación.</td>
        </tr>
        </tbody>
    </table>

</main>

<!-- FOOTER -->
<div th:replace="fragmentos/footer :: footer"></div>

</body>
</html>
